:root {
  /*--bg: #2c2c54;*/
  /*--bg: #005151;*/
  /*--color: white;*/
  --bg: white;
  --color: #343a40;
  --card-bg: ;
  --card-header-bg: ;
  --card-body-bg: ;
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--bg);
  color: var(--color);
  padding: 0;
}

.main-container {
  height: 100%;
}

.main-row {
  height: 100%;
}

.middle-content {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.main-content {
  width: 100%;
  height: 100%;
  margin-top: 5%
}

.main-content .container-fluid .row {
  padding: 30px 10px 15px 10px;
  /*border: 2px solid red;*/
}

#sidenav, #rest {
  transition-duration: 0.5s;
  height: 100%;
}

#add-side-nav {
  height: 100%;
}

#add-top-nav {
  width: 100%;
  position: absolute;
  z-index: 1;
}

table {
  /*padding: 10px;*/
  border: 1px solid rgba(var(--card-body-bg));
  border: 1px solid rgba(var(--card-body-bg));

}
th {
  font-weight: bold;
}

.table td, .table th {
  border-top: 1px solid rgba(var(--card-body-bg));
}

.table thead th {
  border-bottom: 1px solid rgba(var(--card-body-bg));

}

.table thead {
  background-color: rgba(var(--card-body-bg));
}